body{
    margin:0;
    padding:0;
}
.dark-holder{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.resize{
    flex:0 0 35vh;
}
.logo{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem 4rem 4rem;
}
.first{
    justify-content: flex-start;
    color:#f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.logo-link{display: flex;}
.second{
    display: flex;
    margin-left: auto;
    gap: 12px;
    font-size: 18px;
    color:#E5E7EB;
    list-style-type: none;
}
ul a:link{text-decoration: none;
color:#E5E7EB;}
.view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 4rem 4rem 4rem;
}

.left{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 12rem;
}
.one{
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
}
.two{
    color:#f9faf8;
}
.up{
    background-color: royalblue;
    color:#f9faf8;
    font-weight: bold;
    border-radius: 2px;
}
.image-holder{
    display: flex;
    background-color: gray;
    color:#cccfc9;
    margin-right: 1rem;
    flex:1 1 250px;
}
.box{
    line-height: 200px;
    text-align: center;
    height: 200px;
    width: 450px;
}
.mid-1{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.middle{
    flex:0 0 40vh;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 3rem 0;
}
.type{
    color:#1f2937;
    font-weight: 900;
    font-size: 36px;
}
.shape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.item{
    border:3px solid #3882f6;
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.description{
    display: flex;
    margin: 0  9rem 0 9rem;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    gap: 50px;
}
.desc{
    
    color:#373e47;
}


